{% extends "base.html" %} {% block content %}
{% if 'produtos.view_produto' in perms %}
    <p class="h2">Produtos</p>
    <div class="row">
        <div class="pesquisa col-4">
            <form class="input-group" action="{% url 'listagem_produto' %}" method="get">
                <input id="campo-pesquisa" type="text" class="form-control" name="q" placeholder="Digite um produto ou código..." />
                <button class="btn btn-secondary" type="submit">
                    <i class="bi bi-search"></i>
                </button>
            </form>
        </div>
        {% if 'produtos.add_produto' in perms %}
        <a href="adicionar" class="btn btn-primary btn-adicionar">
            <i class="bi bi-plus-lg"></i>
        </a>
        {% endif %}
        {% if 'produtos.add_produto' in perms and 'produtos.change_produto' in perms and 'produtos.delete_produto' in perms%}
        <a href="relatorio/pdf" class="btn btn-danger btn-pdf">
            <i class="bi bi-file-earmark-pdf-fill"></i> 
        </a>
        {% endif %}
        {% if 'produtos.add_produto' in perms and 'produtos.change_produto' in perms and 'produtos.delete_produto' in perms%}
        <a href="relatorio/csv" class="btn btn-success btn-csv">
            <i class="bi bi-file-earmark-bar-graph"></i>
        </a>
        {% endif %}
    </div>
    {% if object_list %}
    <table class="styled-table">
        <thead>
            <tr>
                <th scope="row"> Código </th>
                <th scope="col"> Produto </th>
                <th scope="col"> Marca </th>
                <th scope="col"> Valor de Custo </th>
                <th scope="col"> Valor de Venda </th>
                <th scope="col"> Quantidade </th>
                {% if 'produtos.view_produto' in perms or 'produtos.change_produto' in perms or 'produtos.delete_produto' in perms %}
                <th class="text-center" scope="col"> Opções </th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for produto in object_list %}
            <tr class="active-row">
                <th scope="row">{{ produto.codigo }}</th>
                <td><a href="{{ produto.codigo }}">{{ produto.nome }}</a></td>
                <td>{{ produto.marca }}</td>
                <td>R${{ produto.custo }}</td>
                <td>R${{ produto.valor }}</td>
                <td>{% if produto.quantidade != 0 %}{{ produto.quantidade }}{% else %}---{% endif %}</td>
                {% if 'produtos.view_produto' in perms or 'produtos.change_produto' in perms or 'produtos.delete_produto' in perms %}
                <td class="col-2 text-center">
                    {% if 'produtos.view_produto' in perms %}
                    <a href="{{ produto.codigo }}" type="button"><i class="bi bi-eye-fill"></i></a>
                    {% endif %}
                    {% if 'produtos.change_produto' in perms %}
                    <a href="alterar/{{ produto.codigo }}" type="button"><i class="bi bi-pencil-square"></i></a>
                    {% endif %}
                    {% if 'produtos.delete_produto' in perms %}
                    <a href="" data-bs-toggle="modal" data-bs-target="#modalConfirmaExclusao{{ produto.codigo }}"><i class="bi bi-trash"></i></a>
                    {% endif %}
                </td>
                {% endif %}
            </tr>
            <div class="modal fade" id="modalConfirmaExclusao{{ produto.codigo }}" tabindex="-1" role="dialog" aria-labelledby="modalConfirmaExclusao" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header ">
                            <h5 class="modal-title ">Confirmação</h5>
                        </div>
                        <div class="modal-body">Deseja realmente deletar o produto {{ produto.nome }}?</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <a href="remover/{{ produto.codigo }}"><button type="button" class="btn btn-danger">Deletar</button></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="text-secondary pt-2">Não há produtos disponíveis.</p> 
    {% endif %}
{% else %}
<p class="text-secondary text-danger pt-2">Você não tem permissões suficientes.</p> {% endif %} {% endblock %}