{% extends "base.html" %} {% block content %}
{% if 'produtos.view_fornecedor' in perms %}
    <p class="h2">Fornecedores</p>
    <div class="row">
        <div class="pesquisa col-4">
            <form class="input-group" action="{% url 'listagem_fornecedor' %}" method="get">
                <input id="campo-pesquisa" type="text" class="form-control" name="q" placeholder="Digite um nome ou ramo..." />
                <button class="btn btn-secondary" type="submit">
                    <i class="bi bi-search"></i>
                </button>
            </form>
        </div>
        {% if 'produtos.add_fornecedor' in perms %}
        <a href="adicionar" class="btn btn-primary btn-adicionar">
            <i class="bi bi-plus-lg"></i>
        </a>
        {% endif %}
    </div>
    {% if object_list %}
    <table class="styled-table">
        <thead>
            <tr>
                <th scope="row"> Código </th>
                <th scope="col"> Nome </th>
                <th scope="col"> E-mail </th>
                <th scope="col"> Telefone </th>
                <th scope="col"> Celular </th>
                <th scope="col"> Ramo </th>
                {% if 'produtos.change_fornecedor' in perms or 'produtos.delete_fornecedor' in perms %}
                <th class="text-center" scope="col"> Opções </th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for fornecedor in object_list %}
            <tr class="active-row">
                <th scope="row">{{ fornecedor.id }}</th>
                <td>{{ fornecedor.nome }}</td>
                <td>{{ fornecedor.email }}</td>
                <td>{% if fornecedor.telefone and fornecedor.telefone|length == 10 %}({{ fornecedor.telefone|slice:"0:2" }}) {{ fornecedor.telefone|slice:"2:6" }}-{{ fornecedor.telefone|slice:"6:10" }}{% else %}---{% endif %}</td>
                <td>{% if fornecedor.celular and fornecedor.celular|length == 11 %}({{ fornecedor.celular|slice:"0:2" }}) {{ fornecedor.celular|slice:"2:3" }}{{ fornecedor.celular|slice:"3:7" }}-{{ fornecedor.celular|slice:"7:11" }}{% else %}---{% endif %}</td>
                <td>{{ fornecedor.ramo }}</td>
                {% if 'produtos.change_fornecedor' in perms or 'produtos.delete_fornecedor' in perms %}
                <td class="col-2 text-center">
                    {% if 'produtos.change_fornecedor' in perms %}
                    <a href="alterar/{{ fornecedor.id }}" type="button"><i class="bi bi-pencil-square"></i></a>
                    {% endif %}
                    {% if 'produtos.delete_fornecedor' in perms %}
                    <a href="" data-bs-toggle="modal" data-bs-target="#modalConfirmaExclusao{{ fornecedor.id }}"><i class="bi bi-trash"></i></a>
                    {% endif %}
                </td>
                {% endif %}
            </tr>
            <div class="modal fade" id="modalConfirmaExclusao{{ fornecedor.id }}" tabindex="-1" role="dialog" aria-labelledby="modalConfirmaExclusao" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header ">
                            <h5 class="modal-title ">Confirmação</h5>
                        </div>
                        <div class="modal-body">Deseja realmente deletar o fornecedor {{ fornecedor.nome }}?</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <a href="remover/{{ fornecedor.id }}"><button type="button"
                                    class="btn btn-danger">Deletar</button></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="text-secondary pt-2">Fornecedor não localizado.</p> 
    {% endif %}
{% else %}
<p class="text-secondary text-danger pt-2">Você não tem permissões suficientes.</p> {% endif %} {% endblock %}