{% load static %}
{% if 'vendas.add_funcionario' in perms and 'vendas.change_funcionario' in perms %}
<form id="form_toggle" action="/funcionarios/cargo/adicionar" method="post" class="d-none p-0" novalidate>
    {% csrf_token %}
    <div class="d-flex form-floating mb-3">
        {{ form_cargo.nome }}
        <label for="{{ form_cargo.nome.name }}">Novo cargo</label>
        <button class="ms-2 btn btn-primary btn-confirmar" type="submit">Criar</button>
        <button class="ms-2 btn btn-secondary toggle-control" type="button">Cancelar</button>
    </div>
</form>
<form method="post" novalidate>
    {% csrf_token %}
    <div class="row">
        <p class="h2 mb-4">Cadastro de funcionário</p>
        <div class="form col-4 mb-auto mt-auto">
            <div>
                <div class="form-floating mb-3">
                    {{ form_funcionario.usuario }}
                    <label for="{{ form_funcionario.usuario.name }}">{{ form_funcionario.usuario.label }}</label>
                </div>
                <div class="text-danger">
                    {{ form_funcionario.usuario.errors }}
                </div>
                <div class="form-floating mb-3">
                    {{ form_funcionario.nome }}
                    <label for="{{ form_funcionario.nome.name }}">{{ form_funcionario.nome.label }}</label>
                </div>
                <div class="text-danger">
                    {{ form_funcionario.nome.errors }}
                </div>
                <div class="form-floating mb-3">
                    {{ form_funcionario.cpf }}
                    <label for="{{ form_funcionario.cpf.name }}">CPF</label>
                </div>
                <div class="text-danger">
                    {{ form_funcionario.cpf.errors }}
                </div>
                <div class="form-floating mb-3">
                    {{ form_funcionario.data_nascimento }}
                    <label for="{{ form_funcionario.data_nascimento.name }}">Data de Nascimento</label>
                </div>
                <div class="text-danger">
                    {{ form_funcionario.data_nascimento.errors }}
                </div>
                <div class="form-floating mb-3">
                    {{ form_funcionario.percentual_comissao }}
                    <label for="{{ form_funcionario.percentual_comissao.name }}">Comissão por venda (%)</label>
                </div>
                <div class="text-danger">
                    {{ form_funcionario.percentual_comissao.errors }}
                </div>
                <div class="d-flex form-floating mb-3">
                    {{ form_funcionario.cargo }}
                    <label for="{{ form_funcionario.cargo.name }}">{{ form_funcionario.cargo.label }}</label>
                    <button class="ms-2 btn btn-primary btn-confirmar toggle-control" type="button">Novo</button>
                </div>
                <div class="text-danger">
                    {{ form_funcionario.cargo.errors }}
                </div>
            </div>
        </div>
    </div>
    <div>
        <input class="btn btn-primary btn-confirmar" type="submit" value="Confirmar">
        <a href="/funcionarios" type="button" class="btn btn-secondary btn-voltar">Voltar</a>
    </div>
</form>
{% block script %}<script src="{% static 'js/masks.js' %}"></script>{% endblock %}
{% else %}
<p class="text-secondary text-danger pt-2">Você não tem permissões suficientes.</p> {% endif %}