{% extends "base.html" %} {% block content %} {% load static %}
{% if 'vendas.view_pedido' in perms %}
<div class="row">
    <p class="h2 mb-3">Informações do pedido</p>
    <div class="form col-4 mb-auto mt-auto">
        <div>
            <div class="form-floating mb-2">
                <a href="/pedidos/?q={{ object.id }}">Código do pedido: {{ object.id }}</a>
            </div>
            <div class="form-floating mb-2">Data de cadastro: {{ object.data_cadastro }}</div>
            <div class="form-floating mb-2">Status: {{ object.get_status_display }}</div>
            <div class="form-floating mb-2">
                <a href="/clientes/?q={{object.cliente.cpf}}">Cliente: {{ object.cliente.cpf|slice:":3" }}.{{ object.cliente.cpf|slice:"3:6" }}.{{ object.cliente.cpf|slice:"6:9" }}-{{ object.cliente.cpf|slice:"9:11" }}</a>
             <table class="styled-table">
                <thead>
                    <tr>
                        <th scope="col"> Pedido </th>
                        <th scope="col"> Valor </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="active-row">
                        <td>Subtotal</td>
                        <td>R${{ object.get_total_itens }}</td>
                    </tr>
                    <tr class="active-row">
                        <td>Taxa de entrega</td>
                        <td>R${{ object.taxa_entrega }}</td>
                    </tr>
                    <tr class="active-row">
                        <th>Total</th>
                        <td>R${{ object.get_total|floatformat:2 }}</td>
                    </tr>
                </tbody>
            </table>
            {% if not object.comprovante %}
            <a href="/pedidos" type="button" class="btn btn-secondary btn-voltar">Voltar</a>
            {% else %}
            <a href="/media/{{pedido.comprovante.name}}" target="_blank"><button type="button" class="btn btn-dark text-white">Comprovante</button></a>
            <a href="/pedidos" type="button" class="btn btn-secondary btn-voltar">Voltar</a>
            {% endif %}
        </div>
    </div>
</div>
{% else %}
<p class="text-secondary text-danger pt-2">Você não tem permissões suficientes.</p> {% endif %} {% endblock %}